<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Amazon booking">

    <!-- Connect reporting utility class and testcase -->
    <listeners>
        <listener class-name ="com.amazon.utilities.Reporting" />
    </listeners>

 <!--<test name="Log into amazon">
        <parameter name="browser" value="chrome"/>
         <parameter name="dataPath" value="./src/test/java/com/amazon/testData/Tc_01.properties"/>
        <classes>
            <class name="com.amazon.testScripts.TC01_LoginToAmazon"/>
        </classes>
    </test>-->

 <test name="Hard cover book add into cart">
        <parameter name="browser" value="chrome"/>
        <parameter name="dataPath" value="./src/test/java/com/amazon/testData/Tc_02.properties"/>
        <classes>
            <class name="com.amazon.testScripts.TC02_HardCoverBookAddIntoCart"/>
        </classes>
    </test>


</suite>